.chat{
    background-color:#1480EC;
    height:100vh;
}
.lost{
    font-family: 'Pacifico', cursive;
    font-size:3em;
    color:#fff;
}
.link-decor{
    text-decoration: none;
    img{
        padding-right:13px;
    }
    .decor{
        color:#fff;
        text-decoration: none;
    }
}
.chat-container{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    "logo-container chat-area"
    "links          chat-area"
    "utility        chat-area";
    
}
.logo-container{
    grid-area:logo-container;
    display:flex;
    align-items: center;
    justify-content:left;
    width:87%;
    margin:0 auto;
    gap:40px;
    padding-top:2em;
}
.links{
    grid-area: links;
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-content: space-between;
    font-size:1.7em;
    margin-top:2em;
    padding-left: 40px;
    .link-decor{
        margin-bottom:1.5em;
    }
}
nav{
    position:relative;
    height:99vh;
}
.utility{
    position:absolute;
    bottom:0;
    grid-area: utility;
    justify-items:center;
    display:flex;
    flex-direction: column;
    font-size:1.2em;
    padding-left: 40px;
    .link-decor{
        margin-bottom:1.5em;
    }
}
.chat-area{
    grid-area:chat-area;
    border-radius:10px;
    position:relative;
    background-color: #fff;
    height:97%;
    width:97%;
    align-self:center;
    justify-self: center;
}
.see-message{
    width:98%;
    height:84%;
    margin:30px auto 0 auto;
    background-color: #EEF0F9;
    border-radius:10px;
}
textarea{
    width:92%;
    position:absolute;
    bottom:13px;
    height:50px;
    border-radius:10px;
    left:7px;
    background-color: transparent;
    border:4px solid #EEF0F9;
    padding:5px 0 5px 20px;
    color:#000;
    font-size:1.5em;
    resize:none;
    &::placeholder{
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    }
}
.send{
    background-color: #1480EC;
    border:none;
    border-radius:50%;
    padding:16px;
    position:absolute;
    bottom:12px;
    right:15px;

}
.send-message{
    display:flex;
    align-items: baseline;
}