@import '../varMixins';

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito+Sans&display=swap');


/*******Log In Page Start************/
.sign-in{
  background-image: url("../login-assets/sign-in-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0  150px 0;
  // height:100vh;

  .form-container{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin:0 auto;
    padding: 2rem;

    .app-logo{
      margin-bottom: 30px;
    }

    .login-header{
      margin-bottom: 40px;
      color: $white;
      font-weight: 400;
      font-size: 35px;
      font-family: 'Merriweather', serif;
    }

    form{
      width:38em;
      display:grid;
      grid-template-columns: 20em 15em 4em;
      grid-template-rows:3em 3em 1em 3.5em 1em;
      row-gap:2em;
      grid-template-areas: 
      "input-1 input-1 input-1"
      "input-2 input-2 input-2"
      "forgot  forgot  forgot"
      "sign-in sign-in sign-in"
      "sign-up sign-up sign-up";

      .input{
        background-color: transparent;
        border: 2px solid $white;
        border-radius: 15px;
        padding: 20px 10px 20px 20px;
        &::placeholder{
          color: $white1;
          font-size: 17px;
        }
      }

      

      .mail{
        grid-area: input-1;
      }

      .pass{
        grid-area:input-2;
      }

      .forgot-btn{
        background-color: transparent;
        color:#4361AF;
        border:none;
        font-size: 16px;
        grid-area:forgot;
        justify-self: flex-end;
        margin-left:-120px;
        margin-top: -40px;
      }

      a{
        grid-area:sign-in;
        width:100%;
        height:2.9em;
        justify-self: center;
        cursor:pointer;
        text-decoration:none;
        .sign-in-btn{
          background-color: #1480EC;
          padding: 14px 33px;
          border-radius:$borderradius;
          border:none;
          font-size:$btnsize;
          color:$white;
          width: 25%;
        }
      }
    }

    .sign-up{
      margin-top: 0;
      grid-area:sign-up;
      font-size: 19px;
      word-spacing:2px;
      color: $white;
      font-weight: 400;
      
      .decor{
        border:none;
        background-color:transparent;
        cursor:pointer;
        color: $white;
        font-weight: 600;
        margin-left: 10px;
      }

    }
  }
 
}


@media screen and (max-width:425px){
  .login-header{
    margin-top:5em;
  }
  .hidden{
    font-family: 'Pacifico', cursive;
    display:block;
    text-align: center;
    margin:0 auto;
  }
  .form-container{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin:0 auto;
    form{
      margin-top:1em;
      width:$gridwidth;
      justify-content: center;
      display: grid;
      grid-template-columns: 8em 8em 4em;
      grid-template-rows:2.5em 2.5em 1em 3.5em 1em;
      row-gap:2em;
      grid-template-areas: 
      "input-1 input-1 input-1"
      "input-2 input-2 input-2"
      "forgot  forgot  forgot"
      "sign-in sign-in sign-in"
      "sign-up sign-up sign-up";
    }
    input{
      width:20em;
      height:2.5em;
    }
    .email{
      grid-area: input-1;
      justify-self:center;
      margin-left:120px;
    }
    .pass{
      grid-area:input-2;
      justify-self:center;
    }
    .forgot-btn{
      grid-area:forgot;
      justify-content: center;
      border:1px solid red;
    }
    .sign-in-btn{
      grid-area:sign-in;
    }
    .sign-up{
      grid-area:sign-up;
      font-size:$btnsmallsize;
    }
  }
}
/*******Log In Page End************/


/*******Contact Start************/
.contact{
  background-image: url("../login-assets/sign-in-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  text-align: center;
  height:100vh;
  padding-top:1rem;
  overflow-y: scroll;
}
.contact-container{
  display:flex;
  align-items: center;
  flex-direction: column;
  margin:0 auto;
}
label{
  font-size:1.5em;
}
.contact-form{
  width:38em;
  display:grid;
  justify-content: center;
  grid-template-columns: 38em;
  grid-template-rows:1em 3em 3em 1em 3em 3em 3.5em;
  row-gap:2em;
  column-gap:20px;
  grid-template-areas:
  "label-1" 
  "input-1 "
  "input-2 "
  "label-2"
  "input-3 "
  "input-4 "
  "finish";
  input{
    margin-bottom:1.5em;
    width:38em;
    height:3em;
    border-radius:$borderradius;
    background-color: transparent;
    border:.7px solid white;
    padding-left:2em;
    justify-content: center;
    justify-items:center;
    font-size:1em;
    &::placeholder{
      color:#fff;
    }
  }
  .label-1{
    grid-area:label-1;
    justify-self: flex-start;
  }
  .contact-one-mail{
    grid-area:input-1;
  }
  .phone-number-one{
    grid-area:input-2;
  }
  .label-2{
    grid-area:label-2;
    justify-self: flex-start;
  }
  .contact-two-mail{
    grid-area:input-3;
  }
  .phone-number-two{
    grid-area:input-4;
  }
  .finish{
    grid-area:finish;
    width:9em;
    height:2.9em;
    border-radius:$borderradius;
    border:none;
    background-color: #1480EC;
    font-size:$btnsize;
    justify-self: center;
    cursor:pointer;
  }
  .contact-link{
    text-decoration: none;
    color:#fff;
  }
}
@media screen and (max-width:425px) {
  .contact-header{
    margin-top:3.5em;
  }
  .hidden{
    font-family: 'Pacifico', cursive;
    display:block;
    text-align: center;
    margin:0 auto;
  }
  .contact-container{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin:0 auto;
  }
  .contact-form{
    width:20em;
    display:grid;
    justify-content: center;
    grid-template-columns: 20em;
    grid-template-rows:1em 3em 3em 1em 3em 3em 3.5em;
    row-gap:2em;
    column-gap:20px;
    grid-template-areas:
    "label-1" 
    "input-1 "
    "input-2 "
    "label-2"
    "input-3 "
    "input-4 "
    "finish";
    input{
      width:19em;
      justify-self: center;
    }
    .label-1{
      grid-area:label-1;
      justify-self: flex-start;
    }
    .contact-one-mail{
      grid-area:input-1;
    }
    .phone-number-one{
      grid-area:input-2;
    }
    .label-2{
      grid-area:label-2;
      justify-self: flex-start;
    }
    .contact-two-mail{
      grid-area:input-3;
    }
    .phone-number-two{
      grid-area:input-4;
    }
    .finish{
      grid-area:finish;
    }
  }
}
/*******Contact End************/